.main{
    width: 100%;
    height:1500px;

    h1{
        color: orange;
        text-align: center;
    }
    p{
        
        font-size:20px;
        color: rgb(71, 71, 71);
        
        text-align: center;
    }
    img{
        margin-top:20px;
        margin-left: 400px;
    }
    .important{
        color: rgb(71, 71, 71);
        font-weight: bold;
        font-size: 26px;
        text-align: center;

    }

    .boxinput{
        display:flex;
        flex-direction: row;


        input{
           
            width: 500px;
          }
        h2{
            color: rgb(71, 71, 71);
            font-weight: bold; 
            margin-left: 30px;
            margin-top: 20px;
           
        }
    }
   
    .boximg{
       
        img{
            margin:10px;
        }
    }
}