<div class="main">
   <h1>Two Way Binding</h1>
  <p>
        Il Two Way Binding in Angular consentirà agli utenti di scambiare i dati dal Typescript all'html  e dall'html al Typescript. Aiuterà gli utenti a stabilire una comunicazione bidirezionale.

        L'associazione bidirezionale dei dati può essere ottenuta utilizzando una direttiva ngModel in Angular. La seguente sintassi mostra l'associazione dei dati utilizzando (ngModel) , che è fondamentalmente la combinazione di parentesi quadre tra il vincolo di proprietà e parentesi del bind dell'evento.
  </p>
  <img   src="\assets\ngmodel.PNG" alt="ngmodel"> <br>


  <p class="important">Importante! Importare FormsModule da @ angular / forms nel file app.module.ts </p>
  <img   src="\assets\imports.PNG" alt="imports">  <br>
<div class="boxinput">
        <input [(ngModel)]="name" type="text">
        <h2>Il valore inserito è :{{name}}</h2>
</div>
 

  <div class="boximg">
        <img   src="\assets\twowayhtml.PNG" alt="twoway">
        <img   src="\assets\twowayts.PNG" alt="twoway">


  </div>



</div>
