<div class="headcontainer">
        <div class="header">
                <a href="#"><img src="./assets/angular.png" alt="LogoGit"></a>
            
                <ul>
                    
                    <li>
                        <a routerLink="/chiamate" routerLinkActive="active"> Chiamate</a>
                        <ul>
                            <li>
                                <a href="#"> Servizi</a>
                            </li>
                            <li>
                                    <a href="#"> Get</a>
                            </li>
                            <li>
                                    <a href="#"> Post</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/bind" routerLinkActive="active">Binding</a>
                        <ul>
                            <li>
                                <a  routerLink="/oneway" routerLinkActive="active"> One Way</a> 
                            </li>
                            <li>
                                <a routerLink="/twoway" routerLinkActive="active">Two Way </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/form" routerLinkActive="active">Form</a>
                      
                        <ul>
                            <li>  
                                <a href="#">Reactive</a> 
                            </li>
                            <li>
                                 <a href="#">Template</a> 
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="/direttive" routerLinkActive="active">Direttive</a>
                        <ul>
                            <li>
                                <a href="#">Ng Class</a> 
                            </li>
                            <li>
                                <a href="#">Ng Style</a> 
                            </li>
                            <li>
                                <a href="#">Ng If</a> 
                            </li>
                            <li>
                                <a href="#">Ng For</a> 
                            </li>
                            <li>
                                <a href="#"> Ng Switch</a>
                            </li>
                        </ul>
                   
                    </li>
                    <li>
                            <a href="#">Varie</a>
                        </li>
                </ul>
            
            
            
            </div>
</div>
