
.headcontainer{
top:0;
position: relative;
width: 100%;
height:90px;
z-index: 99999;
    .header{
   
        width: 100%;
        height:90px;
    background-color: orange;
    z-index: 99999;
    padding-bottom: 9px;
    position: fixed;
   
    
    img{
        width: 110px;
        top:-10px;
        position: absolute;
        
        }
    
    ul{
        display: flex;
        flex-direction: row;
        list-style-type: none;
        right: 60px;
        color: #fff;
        position: absolute;
        font-size:18px;
        font-family: 'Raleway', sans-serif;
        top: 30px;
        z-index: 99999;
        

        
       
        li{
            z-index: 99999;
           overflow: hidden;
            width: 150px;
            height: 50px;
            position: relative;
            display: inline-block;
            transition-duration: 0.5s;
            vertical-align: top;
            &:hover{
               overflow: visible;
              
              }

            a {
                color: #fff;
                display: block;
                font-weight: bold;
                line-height: 30px;
                text-decoration: none;
                width: 150px;
                height: 30px;
                text-align: center;
                display: block;
                transition-duration: 0.5s;
                
               
                &:hover{
                    color: rgb(71, 71, 71);
                    
                   
                  


                }

            }
            ul  {
                left: 10px;
                list-style: none;
                position: absolute;
                display: flex; 
                flex-direction:column; 
                margin-top: 20px;
                padding:0;
                z-index: 99999;
                
              
                li{
                   
                    color:rgb(71, 71, 71);
                    padding: 2px;
                    background-color: orange;
                    z-index: 99999;
                   
                    a{
                        
                        &:hover{
                            
                            color: rgb(71, 71, 71);
                            font-weight: bold;
                           
                           
                        }

                    }
                    
                    
                   
                }
            }
               
                
            }
           
          
         }
               
           
            
        }
        
    



    }