<div class="boxbinding">
    <h1>
        Data Binding
    </h1>
    <p>
        Il data bindng è una delle funzioni più potenti di Angular. Si tratta di un passaggio di dati tra html e typescript(parte logica). <br>
        Nel codice, si utilizzano le parentesi graffe per indicare l'associazione dei dati  e questo processo viene definito interpolazione. </p>

        <h1>Tipologie di  Data Binding in Angular</h1>

        <ul>
            <li>
               <a href="#"> One Way Binding</a>
            </li>
            <li>
              <a href="#">Two Way Binding</a>  
            </li>
        </ul>
</div>

