.boxbinding{
    width: 100%;
    height: 560px;
    position: relative;
    top: 100px;
    h1{
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        color:orange;

    }
    p{
       text-align: center;
        font-size: 20px;
        color:rgb(71, 71, 71);
    }
    ul{
        display: flex;
        flex-direction: row;
        list-style-type:none;
        margin-left:500px;
        li{
           margin:20px;
           color: orange;
           font-size:30px;
         
           a{
             color: orange;
             text-decoration: none;
               &:hover{
                color:rgb(71, 71, 71);
                border-bottom: 1px solid orange;
               
               }
           }
          
        }

    }
}

