
  
    .box{
        width: 100%;
        height:auto;

       
      

        .box1{
            width: 50%;
            h1{
                
                font-size:50px;
                color: orange;
                font-family: 'Raleway', sans-serif;
                width: 400px;
                margin-top: 150px;
                
            }
          
            p{
                
                margin-top:50px;
                color: rgb(71, 71, 71);
                justify-content: center;
                font-size: 20px;
            }
            
        }
        .box2{
            width: 50%;
            float: left;
            margin-top: -400px;
            margin-left: 50%;
            
            img{
               
               width: 500px; 
               margin-left:20%;
            }
        }
    }

   
   
   

    .content2{
        width: 100%;
        height: 200px;
        margin-top: 100px;
       
        p{
            color: orange;
            font-size: 25px;
            font-weight: bold;
            width: 80%;
            text-align: center;
            margin: 0 auto;
        }
    }

  

        img{
            width: 100%;
            
        
        }
  
.loghi{

    width: 100%;
    margin-top: 50px;
    img{
        width: 200px;
        margin:120px;

    }
}

