


<div class="loghi">
    <img src="./assets/html.png" alt="html" style="width: 270px;">
    <img src="./assets/css.png" alt="html">
    <img src="./assets/js.png" alt="html">

</div>


    <div class="content2">

        <p>
            "Nulla sed odio faucibus, vehicula nunc eu, egestas ante. Morbi malesuada, lorem eu tempus eleifend, felis
            turpis sagittis tellus, ac pulvinar libero dui id odio. Fusce molestie nisi at ex auctor, in efficitur nulla
            lobortis. Interdum et malesuada fames ac ante ipsum primis in faucibus."
        </p>
    </div>


    <img src="./assets/gitlab.png" alt="gitlab">


