<div class="boxoneway">
    <div class="box1">
    <h1>One Way Binding</h1>

    <img src="\assets\monodirezione.PNG" alt="binding">


    <p>
        Il ONE WAY BINDING (o binding unidirezionale). è un passaggio di dati che avviene tra il controller e l'html.
        Si ottiene attraverso la string interpolation.
        Nel typescript viene istanziata una variabile a cui si assegna un valore di tipo stringa.
        Il nome di quella variabile potrà quindi essere richiamato nel codice html atravero la string interpolation,
        inserendo quindi il nome della variabile tra due parentesi graffe.
    </p>


    <p class="esempio">

        Esempio: <br>
        Il mio nome è {{name}}.
    </p>
</div>

    <div class="box2">

        <img src="\assets\onewaybindingts.PNG" alt="typescript">

        <img class="img2" src="\assets\onewaybindinghtml.PNG" alt="html">

    </div>

    <div class="box3">

        <img src="\assets\interpolation.PNG" alt="interpolation">
        <p>E' anche possibile inserire all'interno dell' interpolazione dei metodi di javascrip, aggiungere una funzione  o fare delle operazioni.</p>
      
    </div>
   
    <div class="box4">
            <h1>Event Binding</h1>
            <img  src="\assets\event.PNG" alt="binding">
          
            <img   src="\assets\binding2.PNG" alt="binding">
            <p class="text">
                Attraverso l'event binding è possibile avere accesso a tutte le proprietà del DOM collegate all'evento (come al click di un bottone).
                All'onclick viene passata la variabile speciale $ event come parametro che permette di ottenere tutte le informazioni sull evento del DOM.</p>
                <button (click)="onClick($event)">Cliccami!</button> {{stamp}}
            


    </div>
    <div class="box5">


            <h1>Property Binding</h1>

            <p>Il Property Binding è una tecnica che consente di associare valori alle proprietà degli elementi HTML.
                Attraverso questo tipo di Binding noi colleghiamo una proprietà (es: [value] oppure [disalbled] all'interno di un elemento html assegnandogli una variabile precedentemente definita all'interso del ts, sia essa di tipo stringa, booleana o numerica.
            </p>
            <img   src="\assets\proprety.PNG" alt="binding">

            Esempio:
            <button [disabled]="isDisabled" type="button"> CLIK ME! </button>
            <img src="\assets\propretyattribute.PNG" alt="" style="width: 800px;">
       
     
    </div>

   
       

  
    
         
           

       
    

   

</div>