.boxoneway{
    top:200px;
    width: 100%;
    height: auto;
    .box1{
        h1{
            color: orange;
            font-size:40px;
            text-align: center;
          
        }
        img{
            margin-top:100px;
            margin-left: 250px;
            margin-bottom: 100px;
        }
        p{
            margin-top: 50px;
            font-size:20px;
            color: rgb(71, 71, 71);
            margin-left: 230px;
            width: 80%;
          
        }
        .esempio{
            font-weight: bold;
           
        }

    }
   
   

    .box2{
        width: 100%;
       
        display:flex;
        flex-direction: row;
        text-align: center;
       
       
        img{
            width: 40%;
            margin-left:80px;
           
        }
        .img2{
            width: 600px;
            padding-left:100px;
        }

    }

    .box3{
        width: 100%;
       
        margin-top: 30px;
        display:flex;
        flex-direction: row;
        img{
            width: 610px;
            margin-left:82px;
        }
        p{
           
             color: rgb(71, 71, 71);
             font-size: 20px;
             margin-left:40px;

        }
    }
    .box4{
       
        width: 100%;
        margin-bottom: 20px;
       

        h1{
            text-align: center;
            color: orange;
            font-weight: bold;

        }
        img{
            width: 900px;
            margin-left: 300px;
        }
       

       
           
            .text{
                width: 80%;
                color: rgb(71, 71, 71);
                font-size:30px;
                margin-left: 200px;

            }
           
           button{
               margin-left: 750px;
               width: 100px;
               height:50px;
               background-color: orange;
               color: rgb(71, 71, 71);

           }

        }
    
}

.box5{
    width: 100%;
    height: auto;
    h1{
        color: orange;
        text-align: center;
    }
    p{
        color: rgb(71, 71, 71);
        font-size: 20px;
        margin-top: 10px;
        margin-left: 490px;
        width: 600px;
    }
    img{
        margin-top: 20px;
        margin-left: 540px;
        width: 400px;
       
      
      
        
    }  
}